body { 
  font-family: Arial;
  background: #121212; 
  color: #fff;
  margin: 0;
  padding: 0;
}
nav { 
  background: #1f1f1f; 
  padding: 10px; 
  display: flex;
  gap: 20px; 
}
nav a { 
  color: #fff; 
  text-decoration: none; 
  font-weight: bold; 
}
nav a:hover { 
  text-decoration: underline; 
}
section { 
  padding: 20px; 
}
button { 
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
}
.auto {
  border:1px solid #444; 
  padding:10px; 
  margin-top:10px; 
}
input { 
  padding:5px; 
  margin:5px 0; 
  width: 200px; 
}
ul { 
  padding-left: 20px; 
}
